<% @title = %[Kandlar | Home] %>

<body class="home page page-id-2 page-template page-template-pages page-template-template-home page-template-pagestemplate-home-php page-sample-page">
	<!-- Google Tag Manager -->
	<script>
		window.dataLayer = window.dataLayer || [];
	</script>
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGBZ9D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer'
					? '&l=' + l
					: '';
			j.async = true;
			j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NGBZ9D');
	</script>
	<!-- End Google Tag Manager -->

	<section class="promo-section">
		<div class="carousel carousel-home">
			<div class="mask">
				<div class="slideset">
					<div class="slide">
						<div
							style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;">
							<!--<img src="" height="" width="" alt="">-->
						</div>
						<div class="center">
							<h2>Products Page</h2>
							<span class="subtitle">Randomness is Real
							</span>
							<div class="btn-holder">
								<a href="" class="sell-btn">Sell Products</a>
								<a href="" class="buy-btn">Buy Products</a>
							</div>
						</div>
					</div>
					<div class="slide">
						<div
							style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;"></div>
						<div class="center">
							<h2>Seller Benefits
							</h2>
							<ul>
								<span class="subtitle">Increase cash flow for growth by quick release of blocked working capital
								</span>
								<span class="subititle">Better pricing than liquidation or Trashing</span>
							</ul>
							<div class="btn-holder">
								<a href="" class="sell-btn">LEARN MORE</a>
							</div>
						</div>
					</div>
					<div class="slide">
						<div
							style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;"></div>
						<div class="center">
							<h2>Buyer Benefits
							</h2>
							<ul>
								<span class="subtitle">Get prime stocks at 40% discounted rates</span>
								<span class="subtitle">Get Deliveries in no Time
								</span>
							</ul>
							<div class="btn-holder">
								<a href="" class="sell-btn">LEARN MORE</a>
							</div>
						</div>
					</div>
					<div class="slide">
						<div
							style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;">
							<!--<img src="" height="" width="" alt="">-->
						</div>
						<div class="center">
							<h2>Auctions Page
							</h2>
							<span class="subtitle">More Random Info</span>
							<div class="btn-holder">
								<a href="" class="sell-btn">LEARN MORE</a>
							</div>
						</div>
					</div>
					<div class="slide">
						<div
							style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;"></div>
						<div class="center">
							<ul>
								<span class="subtitle"> "Thanks to Kandlar for their speedy delivery thus reducing our lead time enormously"</span>
								<h4>Karthik, Director PMAC India
								</h4>
								<span class="subtitle">"Amazing prices and customer support. A sure recommend "</span>
								<h4>Chenniappan, MD CLassic Tools
								</h4>
							</ul>
						</div>
						</div>
						</div>
					</div>
					<div class="center">
						<div class="pagination"></div>
					</div>
				</div>
			</section>
			<section class="looking-for-section">
				<div class="center">
					<div class="headeing-holder">
						<h1 style="color: #000C49;">LOOKING FOR INVENTORY?</h1>
						<span class="subtitle">Discover Products From Our Marketplaces</span>
					</div>
					<div class="container">
						<div class="inventory-block">
							<div class="box-holder">
								<a href="/rods" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Rods</span>
									</span><img src="http://www.tapplastics.com/uploads/products/acrylic_rods-xl.jpg" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/bearings" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Bearings</span>
									</span><img src="http://otpnet.com/wp-content/themes/otp2015/images/main_images/bearings2.jpg" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/fasteners" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Fasteners</span>
									</span><img src="http://fortress.kiwi/site/fortressfasteners/images/basic_theme/fastener.png" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/fittings" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Fittings
										</span>
									</span><img src="http://www.rapidforge.in/images/img/rff/home/homepc_forgefit_2.jpg" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/flanges" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Flanges</span>
									</span><img src="http://www.siddhagiri.net/images/flanges/forging-flanges.jpg" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/gaskets" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Gaskets</span>
									</span><img src="http://www.masterparts.com/sites/masterparts/files/images/category/gaskets.jpg" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/pipes" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Pipes</span>
									</span><img src="http://www.deltat.com/uploaded/In-Line_Pipe_Heater_from_Convectronics.JPG" height="180" width="239"/></a>
							</div>
							<div class="box-holder">
								<a href="/individuals" class="category">
									<span class="title" style="color: #000C49;">
										<span class="text">Individual Products</span>
									</span><img src="http://www.coppertubetech.com/images/copper-tubes.jpg" height="180" width="239"/></a>
							</div>

						</div>
					</div>
				</div>
			</section>
			<section class="solutions-section">
				<div class="center">
					<div class="tab-holder">
						<h1 style="color: #000C49;">How it Works</h1><br>
						<ul class="tabset">

							<li class="active">
								<a href="#image1" class="tab-link">
									<%= image_tag("image1.gif") %>
									<%= image_tag("image1.gif", class: "hover-img") %>

								</a>
								<span class="text">Sell and Find Excess Inventory</span>
							</li>
							<li>
								<a href="#image2" class="tab-link">
									 	<%= image_tag("image2.png") %>
										<%= image_tag("image2.png", class: "hover-img") %>
								</a>
								<span class="text">Buyers Contact Kandlar</span>

							</li>
							<li>
								<a href="#image3" class="tab-link">
									<%= image_tag("image3.gif") %>
									<%= image_tag("image3.gif", class: "hover-img") %>

								</a>
								<span class="text">Speedy Delivery</span>

							</li>
						</ul>
						<div class="tab-content">
							<div id="image1">
								<p>Sellers E-Mail their excess inventory and Buyers find ready stocks available at kandlar.com</p>
							</div>
							<div id="image2">
								<p>Interested buyers contact Kandlar and Kandlar helps them finalise a deal with sellers.</p>
							</div>
							<div id="image3">
								<p>Buyers pay Kandlar, Buyer receives the material, Kandlar pays the seller.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="su-footer-links" style="text-align: center;"></div>
			<script type='text/javascript' src='http://bstock.com/wp-content/themes/bstock/js/jquery.main.js'></script>
			<script type='text/javascript' defer="defer" src='//info.bstock.com/js/public/jquery.cookie.js'></script>
			<script type='text/javascript' defer="defer" src='//info.bstock.com/js/public/jQueryString-2.0.2-Min.js'></script>
			<script type='text/javascript' defer="defer" src='//info.bstock.com/rs/233-KML-790/images/Get_UTM_Parameters_Web.js'></script>
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-772063-13']);
				_gaq.push(['_setDomainName', '.bstock.com']);
				_gaq.push(['_trackPageview']);
				(function () {
					var ga = document.createElement('script');
					ga.type = 'text/javascript';
					ga.async = true;
					ga.src = ('https:' == document.location.protocol
						? 'https://ssl'
						: 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(ga, s);
				})();
			</script>
		</body>
